<app-navigationbar></app-navigationbar>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Insure <b>Today</b> for a<br>
                Better tommorow
            </h2>
            <div class="row">
                <div class="col-md-6 ">                     
                    <a (click)="onTypeClick('HI')">
                        <img src="../../../assets/Images/healthcare.png" class="card-img-top t4Type"
                        alt="Health Insurance">
                    </a>                
                    <p class="t4Bold">Health Insurance</p>
                </div>
                <div class="col-md-6 ">
                    <a (click)="onTypeClick('TL')">
                        <img src="../../../assets/Images/terminsurance.png" class="card-img-top t4Type"
                            alt="Term Insurance">
                    </a>
                    <p class="t4Bold">Term Insurance</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ">
                    <a (click)="onTypeClick('PA')">
                        <img src="../../../assets/Images/PA.png" class="card-img-top t4Type"
                            alt="Personal Accident">
                    </a>
                    <p class="t4Bold">Personal Accident</p>
                </div>
                <div class="col-md-6">
                    <a (click)="onTypeClick('IP')">
                        <img src="../../../assets/Images/Investment.png" class="card-img-top t4Type" alt="Investment">                        
                    </a>
                    <p class="t4Bold">Investment</p>
                </div>
            </div>
        </div>
        <div class="col-md-8" >
            <img src="../../../assets/Images/insurance.jpg" style="border-radius: 20px;">
        </div>
    </div>
</div>