<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand">
            <img src="../../../assets/Images/t4icon.jpg" width="30px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink=""><b>Home</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="viewplans" *ngIf="appStateService.userId"><b>View Policies</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="mypolicies" *ngIf="appStateService.userId"><b>My Policies</b></a>
                </li>
            </ul>
            <form class="d-flex">
                <a id="aLogin" class="pointer" *ngIf="!appStateService.userId" (click)="onLogin()">
                    <img src="../../../assets/Images/Login.png" width="30px" title="Login">
                </a>
                <!-- <a id="aLogin" (click)="onUpdateProfile()">
                    Update profile
                </a> -->
                <label class="username" *ngIf="appStateService.userId">{{appStateService.userDetails.email}}
                    <i (click)="toggleDropdown()" class="fas fa-caret-down" style="margin-right: 5px;margin-left: 10px;font-weight: 900;"></i>
                </label>
                <a id="aLogin" class="pointer" *ngIf="appStateService.userId" (click)="onLogout()">
                    <img src="../../../assets/Images/logout.png" width="30px" title="Logout">
                </a>
            </form>
            <div class="row" id="logout" *ngIf="isdropdown">
                <div class="col-10"></div>
                <div class="col-2">
                <a (click)="onLogout()" class="nav-link text-white" id="logout" >
                    <!-- <i class="fa fa-user fa-2x"></i> -->
                    <div class="logoutdropdown" (click)="onUpdateProfile()">Edit Profile</div>
                    <div class="logoutdropdown">Logout</div>
                </a>
                </div>
            </div>
        </div>
    </div>
</nav>


<router-outlet></router-outlet>